/* You can add global styles to this file, and also import other style files */
.uc-img-zoom-result {
    position: absolute;
    top: 0;
    border: 1px solid #d4d4d4;
    width: 400px !important;
    height: 350px !important;

}
.slick-track{
    z-index: 1 !important;
}